// text color class 
.text-white{
    color: $white;
}
.text-dark{
    color: $darkblack;
}
.text-black{
    color: $black;
}
.text-blue{color: $blue;}
.text-danger{color: $danger;}
// back ground color class
.bg-black{
    background: $black;
}
.bg-white{
    background: $white;
}

.bg-primary{
    background: $blue;
}


.btn-success{
    @include btn;
    background-color:$sucess;
    color: $white;
    font-size: 1.15rem;
    }
.btn-default{
    @include btn;
    font-size: 1.15rem;
}