@media only screen and (max-width:767px) {
    header section {
        flex-flow:  row wrap;
    }
    
    .row1 section {
        flex-flow:   column;
    }
    
    .row1 ul {
        width: 100%;
    }
    
    header article {
    flex: 100%;
    text-align: left !important;
    }
    
    footer ul li {
        width: 100%;
        padding: 10px 0px;
        margin: 0 0 10px;
    }
}