$f-size:14px;
$f-famaily:'Arial';
//Device size for media query sart
$sm:768px;
$md:1025px;
$lg:1360px;
$xl:1920px;

//Device size for media query end

$full-width:100%;

// color name color code start
$white:#fff;
$gray:#ccc;
$primary:#acd;
$sucess:#0f0;
$danger:#f00;
$black:#333;
$darkblack:#000;
$blue:#6b7cda;
$pink:pink;




// color name color code end



