.table__details {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}
.table__heading {
  border-bottom: 1px solid #ddd;
  line-height: 2.8em;
  text-align: left;
}
.table__details tr:nth-of-type(even) {
  background-color: #f4f4f4;
}
.table__details tr td:nth-child(2) {
  color: blue;
}
.table__item {
  vertical-align: text-bottom;
  padding-top: 1em;
}
