

header{
	width: 708px;
	background-color: #171717;
	margin: 0px;
	height: 49px;
}
header h2{
	color:white;
	font-size:20px;
	margin:5px;
}
.heading{
width: 620px;
background-color: #212121;
height:100px;
border-bottom: 1px solid red;
}

#movie_list{
	display:flex;
	flex-wrap:wrap;
}
#movie_list > section{
	display:inline-block;
	width:175px;
	height:240px;
	border:1px solid gray;
	background-color:#212121;
}

.movieDetail{
	width: 590px;
	background-color: #212121;
	height: 90px;

}
.movieDetailedInfo{
	width: 590px;
	background-color: #212121;
	height:700px;
}
main{
  margin: 0 auto;

}

aside .row{
	position: absolute;
	top:400px;
	width:110px;
	height:150px;
	background-color: black;
	margin:15px;
}
.leftSpan{
	color:white;
	width:175px;
	height:60px;
	font-size:16px;
	position:absolute;
	bottom:0px;
	background-color: #454A4C;
}
.rightSpan{
	background-color: #454A4C;
	position: absolute;
	height: 100px;
	width: 622px;	
	top:300px;
	color:white;
}
.movieImg{
width: 110px;
background-color: #212121;
height:80px;
margin:10px;
}


.movie_list {float: left; width:708px;}
.movie_detail {float: right;width:623px;background-color: #212121;height:780px;display: flex;
}