@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
}

.clearfix {
    clear: both;
}

.container {
    width:1200px;
    padding: 0px 15px;
    margin: 0px auto;
    display: flex;
    flex-flow: row nowrap;
}

.column-left {
    flex: 60%;
    display: flex;
    flex-flow: row wrap;
}

.column-right {
    flex: 40%;
    background: #212121;
}

header {
    background: #171717;
    padding: 15px 10px;
    flex: 100%;
    border-bottom: 1px solid #585858;
    border-right: 1px solid #585858;
}

header h1 {
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
}

.movie-box {
    flex: 24%;
    background: #454A4C;
    padding: 0 0 5px;
    border-right: 1px solid #585858;
}

.movie-box .movie-img {
    width: 100%;
    margin: 0px;
    height: 200px;
    overflow: hidden;
}

.movie-box .movie-img img {
    width: 100%;
}

.movie-name {
    font-size: 16px;
    display: block;
    padding: 5px 7px 2px;
}

.year, .genre {
    font-size: 12px;
    padding: 0px 5px;
}

.movie-info .movie-name {
    background: #454a4c;
    padding: 8px 7px 5px;
}

.movie-info .genre {
    background: #454a4c;
    display: block;
    padding: 0 8px 10px;
}

.movie-info .movie-img {
    min-height: 100%;
}

.movie-details {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}

.movie-details .movie-img {
    flex: 10%;
    background: #171717;
}

.movie-details .movie-discription {
    flex: 60%;
    padding: 0px 10px;
}

.movie-details .title, .movie-details .year-right, .movie-details .genre-right, .movie-details .genre-right-top,  .movie-details .release, .movie-details .actor {
    display: block;
    padding: 0;
    font-size: 12px;
    line-height: 2;
    font-weight: 500;
}

.story {
    font-size: 12px;
    line-height: 1.5;
    padding: 10px;
}