.table-section table{
	width: 100%;
}

.table-section table thead{
	background-color: #0C1DA1;
	font-size: 0.8em;
    color: #fff;
    text-align: left;
}

.table-section table th{
	padding: 4px 10px 22px 10px;
}

tbody tr:nth-child(even){
	background-color: #eee;
}
tbody tr:nth-child(odd){
	background-color: #ccc;
}
tr td{
    font-size: 0.9em;
    text-transform: capitalize;
    padding: 1px 10px 10px 10px;
}
tr td:last-child{
	text-align: center;
	padding: 5px;
}
