
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

@mixin navHover($bgColor,$color,$transitionTime){
    background: $bgColor;
    color : $color;
    transition: $transitionTime;
}