$large-font : 1.4em;
$medium-font : 1em;
$heading-font-size : 1.5em;

$primary-theme : #5656f0;

$primary-font-family : sans-serif;

$disabled-button-color : #bdb9b9;
$active-button-color : #333;

$transition :all 0s, color 0.3s,background-color 0.3s;