<section class="main__header">
  <header class="top__header">
    <nav class="navbar__nav" role="navigation">
      <ul role="menubar" class="navbar__nav--menubar">
        <li class="navbar__nav--items" role="menuitem">
          <a href="#" class="nav__item--selected nav__item--selectedlogo">
            <img src='../../../../assets/images/icons-user.ico' role="img" aria-label="user-icon"
              class="Customer__logo" />Customer Manager</a>
        </li>
        <li class="navbar__nav--items" role="menuitem">
          <a routerLink="customers" routerLinkActive="active-route" class='nav__item--selected nav__item--selectedbar'>
            Customer
          </a>
        </li>
        <li class="navbar__nav--items" role="menuitem">
          <a routerLink="orders" routerLinkActive="active-route" class='nav__item--selected nav__item--selectedbar'>
            orders
          </a>
        </li>
        <li class="navbar__nav--items" role="menuitem">
          <a routerLink="about" routerLinkActive="active-route" class='nav__item--selected nav__item--selectedbar'>
            About
          </a>
        </li>
        <li class="navbar__nav--items" role="menuitem">
          <a routerLink="login" routerLinkActive="active-route" class='nav__item--selected nav__item--selectedbar'>
            login
          </a>
        </li>
      </ul>
    </nav>
  </header>
</section>
