<header class="page__header header">
    <nav class="header__navbar" role="navigation">
        <ul role="menubar" class="menu">
            <li class="menu__item" role="menuitem">
                <a href="#" class="menu__link menu__link--logo">
                    <img src='../../../../assets/images/icons-user.ico' role="img" aria-label="user-icon"
                     alt="COMS LOGO"   class="menu__link__logo" />
                    Customer Manager
                </a>
            </li>
            <li class="menu__item" role="menuitem">
                <a routerLink="customers" routerLinkActive="active-route"
                    class='menu__link menu__link--selectedbar'>
                    Customer
                </a>
            </li>
            <li class="menu__item" role="menuitem">
                <a routerLink="orders" routerLinkActive="active-route"
                    class='menu__link menu__link--selectedbar'>
                    orders
                </a>
            </li>
            <li class="menu__item" role="menuitem">
                <a routerLink="about" routerLinkActive="active-route"
                    class='menu__link menu__link--selectedbar'>
                    About
                </a>
            </li>
            <li class="menu__item" role="menuitem">
                <a routerLink="login" routerLinkActive="active-route"
                    class='menu__link menu__link--selectedbar'>
                    login
                </a>
            </li>
        </ul>
    </nav>
</header>
