<main>
  <section class="container" *ngIf="customers">
    <article class="card-box" *ngFor = "let customer of customers">
      <header class="card-info">
        <ul class="card-header">
          <li class="card-name">{{customer.name}}</li>
          <li class="card-name"><i class="fa fa-edit"></i></li>
        </ul>
      </header>
      <section class="card-body">
        <ul class="card-details">
          <li class="card-photo"><img src="assets/man.png"></li>
          <li class="card-address">
            <h1>{{customer.address.city}}</h1>
            <h1>{{customer.address.state}}</h1>
          </li>
        </ul>
      </section>
    </article>
  </section>
</main>


<router-outlet></router-outlet>
