
<td width="10%">
    <figure>
        <img src='{{PATH}}{{tableData.firstName|lowercase}}-{{tableData.id}}.jpg' class='profile-pic' />
    </figure>
</td>
<td class="text-primary" align="center">
    {{tableData.firstName}}
</td>
<td align="center">
    {{tableData.lastName}}
</td>
<td align="center">
    {{tableData.address.houseNo}}, {{tableData.address.society}}, {{tableData.address.street}}
</td>
<td align="center">
    {{tableData.address.city}}
</td>
<td align="center">
    {{tableData.address.state}}
</td>
<td align="center">
    1000
</td>