.clear {
            clear: both;
        }

        li input[type='search']:focus {

            outline: none;

        }

        nav {
            /*background-color: #938d93;*/
            background-image: linear-gradient(to right, black 30%, grey);
            border-radius: 20px;
            box-shadow: 5px 10px #f2f1f2;
            overflow: hidden;
            position: relative;

        }

        ul {
            list-style-type: none;
        }

        ul li {
            display: inline;
            margin-left: 10px;
            margin-right: 10px;
            padding: 5px;


        }

        ul li a {
            text-decoration: none;
            font-size: 1.4em;
            color: #ffffff;


        }

        a:hover {

            color: #ffffff;


        }

        #search {
            padding: 9px 6px 6px 30px;
            border-radius: 15px;
        }

        #search-item {
            float: right;
            position: absolute;
            right: 0px;
            margin-top: 10px;
        }

        #item-list {
            float: left;
        }

        @media screen and (max-width: 1000px) {

            ul li {

                border-right: 1px solid grey;
                margin-left: 5px;
                margin-right: 5px;


            }
        }

        @media screen and (max-width: 800px) {
            #car, #fun {
                display: none;
            }

            ul li {
                border-right: 1px solid #ffffff;
                margin-left: 5px;
                margin-right: 5px;

            }
        }

        @media screen and (max-width: 735px) {
            #car, #songs, #fun {
                display: none;
            }

            ul {
                padding-left: 5px;
            }

            ul li {


                border-right: 1px solid #ffffff;
                margin-bottom: 5px;
                margin-top: 5px;

            }

            ul li a {

                font-size: 1.3em;


            }

            ul li:last-child {
                border-right: 0;
            }


        }

        @media screen and (max-width: 558px) {
            #car, #songs, #fun {
                display: none;
            }

            nav {
                border-radius: 0px;
                min-height: 236px;
            }

            ul li {
                display: block;
                border-bottom: 1px solid #fff;
                border-right: 0px;
                margin-bottom: 5px;
                margin-top: 5px;

            }

            #item-list {
                position: relative;
                top: 50px;
            }

            #search {

                border-radius: 0px;
            }

            ul li:last-child {
                border-bottom: 0;
            }

            #search-item {

                left: 0px;
                margin-top: 10px;
            }


        }
