body{
    font-size: $f-size;
    font-family: $f-famaily;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
*{margin: 0;padding: 0;}

ul{list-style: none;}

a{text-decoration: none;}
p{font-size: 1rem;margin-bottom: 0.75rem;}
.img-fill{max-width: $full-width;}
