// text color class 
.text-white{
    color: $white;
}
.text-dark{
    color: $darkblack;
}
.text-black{
    color: $black;
}
.text-blue{color: $blue;}

// back ground color class
.bg-black{
    background: $black;
}
.bg-white{
    background: $white;
}
.bg-white{
    background: $blue;
}
.bg-primary{
    background: $blue;
}