*{box-sizing: border-box}
body{
    background-color: #555;
    margin: 0;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
img {
    max-width: 100%;
}
.col-s-12{
    width: 100%;
    float:left;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .col-m-6 {
        width: 50%;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .col-x-3 {
        width: 25%;
        float: left;
        padding: 50px;
        box-shadow: 0px 0px 0px 7px white;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }