@import '../../../../../assets/css/variables';

@mixin conditions{
	padding: 0.3em 1em;
    font-weight: 200;
    color:$white;
    border-radius:5px;
    font-size:0.9em;
}

td{
    padding: 10px; 
}

.success{
   @include conditions;
	background-color:#2e7d41;
}
.danger{
    @include conditions;
	background-color:#ab2a1f;
}
.info{
    @include conditions;
	background-color:#0099cc;
}
.fulfilled{
    @include conditions;
	background-color:gray;
}
.unfulfilled{
    @include conditions;
	background-color:red;
}
