.customer {
    border-radius: 2px;
    box-sizing: border-box;
    margin: 1rem 0.5rem;
    transition: 0.3s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    &__name {
        padding: 8px;
        text-transform: capitalize;

        h3 {
            margin: 5px 5px;
        }
    }

    &__details {
        display: flex;
    }

    &__profile {
        flex: 0 0 30%;
        padding: 0.75rem;
    }

    &__address {
        flex: 0 0 75%;
        padding: 0.75rem;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 500;
        text-shadow: 0 0 0 #000;
    }

    &__title {
        font-size: 24px;
        font-weight: 400;
        font-weight: 500;
        letter-spacing: .005em;
        line-height: 32px;
    }


}