<!-- customer detail in card format start -->
<article class="customer">
    <header class="customer__name bg-primary"><h3 class="text-white">{{value.name}}</h3></header>
      <section class="customer__details">
        <figure class="customer__profile">
          <img class="img-fill" src="../../../../assets/images/customer/customer1.png" title="{{value.name}}" alt="{{value.name}}">
        </figure>
        <!-- customer address start -->
        <address class="customer__address">
          <p class="customer__details-state">{{value.address.state}}</p>
          <p class="customer__details-city">{{value.address.country}}</p>
          <p class="customer__details-orders"><a class="text-blue" href="">View Orders</a></p>
        </address>
         <!-- customer address end -->
      </section>          
</article> 
<!-- customer detail in card format end -->