@import 'registerfeedback';
@import 'averageFeedback';

body {
    width: 80%;
    margin: 0 auto;
}
.page {
      margin-top : 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 10em;    
      border: 2px solid #8fbdff;
      -webkit-box-shadow: 10px 10px 18px 2px #8fbdff;
      box-shadow: 10px 10px 18px 2px #8fbdff;
      border-radius: 16px;
}	
.page legend {
    font-size: 1.3em;
    font-weight: 600;
    color: #0057d4;
}
.page .page__title{    
    text-align: center;
    font-weight: 600;
    font-size: 1.7em;
    color: blueviolet;
}
.page .page__feedback-form{
    text-align: center;
}
.menubar {
    margin: 2em;
}
.menu .menu__link{
    text-decoration:none;
    cursor: pointer;
    font-weight: 600;
    color: black;
}
.menu .menu__item {
    list-style-type: circle;
    line-height: 2em;
}
.menu .menu__link:hover {
    color: red;
    font-size: large;
    font-weight: 600;
}
.article {
      margin-top : 70px;
      min-height: 8em;
      border: 2px solid #8fbdff;
      -webkit-box-shadow: 10px 10px 18px 2px #8fbdff;
      box-shadow: 10px 10px 18px 2px #8fbdff;
      border-radius: 16px;
      position : absolute;
      width :70%;
      padding-top : 20px; 
      text-align : center;
}

