.about-container{
	width: 80%;
	margin: 0 auto;
}
.about-heading{
	color: #333333;
	text-transform: uppercase;
	line-height: 3em;
	font-size: 1.5em;
    text-align: center;
}
.about-content{
	font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 2em;
}
.page-about{
	margin: 2em auto
}
.gap{
	margin-bottom:5em; 
}