<!-- About Us Panel Start -->
<article class="p-t-6 m-t-6">
	<section class="about-message container">
	 
		<div class="about-panel">
				<aside class="about-left"> 
				  <div class="about-img"></div>
				</aside>
				<aside class="about-right">
				  <h1 class="about-title m-y-6">ABOUT ME</h1>
				  <p class="m-t-6"> Customer Order Management System is a software where we can add , edit, delete and view customers and their orders.  We divided COMS( Customer Order Management System ) into 2 module in software where first one is for customers and second is for orders. 
					   
				  </p>
				</aside>
			</div>
  </section> 

  
</article> 

<!-- About Us Panel End -->