<section class="container">
    <article class="card-box" *ngFor="let customerDetail of customers">
        <header class="card-info">
            <ul class="card-header">
                <li class="card-name">{{ customerDetail.firstName + ' ' + customerDetail.lastName | titlecase}}</li>
                <li class="card-name"><i class="fa fa-edit"></i></li>
            </ul>
        </header>
        <section class="card-body">
            <ul class="card-details">
                <li class="card-photo">
                    <figure>
                        <img src='{{ path + customerDetail.firstName }}-{{ customerDetail.id }}.png'>
                    </figure>
                </li>
                <li class="card-address">
                    <p>{{customerDetail.address.city | titlecase}}</p>
                    <p>{{customerDetail.address.state | titlecase}}</p>
                    <p class="details">
                        <a href="#">
                            View Orders
                        </a>
                    </p>
                </li>
            </ul>
        </section>
    </article>
</section>

<footer></footer>