.container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.card-box{
	margin: 1em;
	flex-basis: 22%;
	box-shadow: 2px 4px 6px 3px #CECECE;
}
.card-info{
	background-color: #004FF8;
	padding: 0.3em;
} 
.card-name{
	color: #fff;
    line-height: 1.6em;
	font-weight: 600;    
	padding-left: 0.3em;
}
.card-header{
	display: flex;
	justify-content:space-between;
  	flex-wrap:wrap;
}
.card-body{
}
.card-details{
	display: flex;
	padding: 0.5em 0.5em 1.5em 0.5em;
}
.card-address{
	color: #505050;
    font-size: 1em;
	margin: 0em 1em;
	line-height: 1.5em;
}

.card-photo img{
	width:70px;
	height:70px;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

