<!-- customer detail in list format start -->

<main class="container">
    <section class="row customer">
        <ul class="customer__list">
            <li class="customer__name" *ngFor='let customer of customers'>
                <img class="customer__image" src='{{customerProfile}}/customer/{{customer.firstName}}-{{customer.id}}.png' alt={{customer.firstName}}{{customer.lastName}}/>
                {{customer.firstName + ' ' + customer.lastName}}
            </li>
        </ul>
    </section>
</main>
<!-- customer detail in Table format end -->