footer {
    width: 100%;
    padding: 21px 10px;
    background: #6395dc;
}

footer section {    
    background: #fff;
    box-shadow: 0px 0px 14px 13px #fff;
    width: 95%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
}

footer ul {
    list-style-type: none;
    display: table;
    padding: 0;
    margin: 0px;
}

footer ul li {    
    float: left;
    margin: 5px 20px;
}
footer ul li a{
    box-shadow: inset 0px 0px 18px 9px #6395dc;
    color: #151414;
    text-align: center;
    padding: 10px;
    display: table-cell;
    width: 145px;
    font-size: 15px;
    font-weight: bold;
    margin: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
}
