
<section class="header container">
    <section class="row">
        <header class="header-head">
            <h2>
                {{title}}
            </h2>
        </header>
    </section>
    <section class="row">
        <nav class='navbar'>
            <ul class="menu">
                <li class="menu-item">
                    <a [routerLink]="['allOrders']" routerLinkActive="active">All Orders
                    </a>
                </li>               
                <li class="menu-item">
                    <a [routerLink]="['/orders','fulfilled']" routerLinkActive="active">Fulfilled Orders
                    </a>
                </li>
                <li class="menu-item">
                    <a [routerLink]="['/orders','unfulfilled']" routerLinkActive="active">Unfulfilled Orders
                    </a>
                </li>
                <li class="menu-item">
                    <a [routerLink]="['/orders','unpaid']" routerLinkActive="active">Unpaid Orders
                    </a>
                </li>
                <li class="menu-item">
                    <a [routerLink]="['/orders','paid']" routerLinkActive="active">Paid Orders
                    </a>
                </li>
                <li class="menu-item">
                    <a [routerLink]="['/orders','pending']" routerLinkActive="active">Pending Orders
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</section>
