header {
	width: 1000px;	
	margin:0 auto;
	height: 70px;
	border: solid 1px #555;
	background-color: #eed;
	display:flex;
	box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6),inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-moz-box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6),inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-webkit-box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-o-box-shadow : inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6),inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
}

header h1{
	color: rgb(235, 67, 67);
    font-size: 21px;
	padding-left: 10px;
}
header p{
	margin-left: 12px;
	line-height: 0.2;
}
.chart-container{
	width: 1000px;	
	margin:0 auto;
	min-height: 260px;
	border: solid 1px #555;
	background-color: #eed;
	box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-moz-box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-webkit-box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-o-box-shadow : inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	display:flex;	
}
article{
	border: 1px solid #5D5D8F;
	padding:10px;
	box-shadow:5px 10px 18px #888888;
	width: 30%;
	height: 200px;
	margin: 10px;
	border-radius: 20px;
}
article h1{
	text-align: center;
	font-size:16px;
}
.chart-footer{
	width: 1000px;	
	margin:0 auto;
	height: 100px;
	border: solid 1px #555;
	background-color: #eed;
	box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-moz-box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-webkit-box-shadow: inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
	-o-box-shadow : inset 0px 0px 13px 6px rgba(124, 160, 206, 0.6);
}
.footer-button{
	box-shadow: inset 0px 0px 13px 6px rgba(53, 94, 146, 0.6);
	-moz-box-shadow: inset 0px 0px 13px 6px rgba(53, 94, 146, 0.6);
	-webkit-box-shadow:  inset 0px 0px 13px 6px rgba(53, 94, 146, 0.6);
	-o-box-shadow :  inset 0px 0px 13px 6px rgba(53, 94, 146, 0.6);
	background-size: 200% auto;
	color: #222 !important;
	margin:5px;
	border-radius: 25px;
	font-size: 17px;
	border: none !important;
	display: inline-block;
	width: 18.6%;
	height: 40px;
}
</style>