/*remove after before space change default fo*/
*,
::after,
::before {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: $full-width;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

$start:1;
$end:12;

@for $i from $start through $end {
    .col__#{$i} {
        flex: 0 0 $full-width*$i/$end;
        max-width: $full-width*$i/$end;
        box-sizing: border-box;
    }
}