@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.box {
  @include transform(rotate(30deg));
}

@mixin label {
  color: $white;
  padding: .2rem .6rem;
  font-size: 0.80em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  display: inline-block;
  width: 5rem;
}


@mixin button-box-shadow {
  color: $white;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  outline: none;
}