@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    
}

.container {
    width:90%;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Roboto', sans-serif;
}
.fa{
    color:#14628f
}
.header {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.header h2 {
    font-size: 26px;
    font-weight: 400;
    color:#344554;
}

.row {
    width: 100%;
    float: left;
    padding: 10px;
}

.menu-bar-2 {
    list-style-type: none;
    margin: 0px;
    padding: 0px
}

.menu-bar-2 .menu-items {
    float: left;
    padding: 0px 20px 30px 0px;
}

.menu-bar-2 .menu-items a {
    text-decoration: none;
    color: cadetblue;
}