<header role="header" class="top-header">
    <section class="container">
    	<figure class="logo m-r-20">
	    	<img src="assets/images/logo.png" class="m-r-10" alt="Customer Manager Logo" title="Customer Manager Logo">
	    	<h1>
                Customer Manager
            </h1>
	    </figure>
	    <nav class="navbar m-l-20">
	    	<ul role="menu" class="menu">
    		    <li role="menuitem" class="menu-item">
                    <a [routerLink]="['customers']" routerLinkActive="active" class="text-white">
                    	Customers
                    </a>
                </li>               
                <li role="menuitem" class="menu-item">
                    <a [routerLink]="['orders']" routerLinkActive="active" class="text-white">
                    	Orders
                    </a>
                </li>
                <li role="menuitem" class="menu-item">
                    <a [routerLink]="['about']" routerLinkActive="active" class="text-white">
                    	About
                    </a>
                </li>
                <li role="menuitem" class="menu-item">
                    <a [routerLink]="['login']" routerLinkActive="active" class="text-white">
                    	Login
                    </a>
                </li>
	    	</ul>
	    </nav>
    </section>
</header>