	body {
	    margin: 0;
	}

	header {
	    width: 100%;
	    max-width: 100%;
	    float: left;
	    margin: 0;
	    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(104, 104, 104, 0.4), rgb(208, 208, 208, 0.2));
	    -webkit-box-shadow: 0 8px 6px -6px black;
	    -moz-box-shadow: 0 8px 6px -6px black;
	    box-shadow: 0 8px 6px -6px black;
	}

	header #navbar {
	    width: 60%;
	    float: left;

	}

	#search {
	    width: 40%;
	    float: right;
	}

	main header section nav ul {
	    list-style: none;

	}

	main header section nav {
	    line-height: 2em;


	}

	main header section nav ul li {
	    display: inline;
	    position: relative;
	    margin-right: 10px;
	    margin-left: 10px;
	}

	main header nav ul li a {
	    font-size: 20px;
	    text-decoration: none;
	    color: #fff;
	    text-shadow: 0 0 0 #000;
	    text-transform: capitalize;
	}

	header section nav ul li a:hover {
	    color: #0827bf;
	    transition: 0.3s;
	    background: #fff;
	}

	main header section nav ul li:after {
	    content: '';
	    width: 2px;
	    height: 100%;
	    background-color: #fff;
	    position: absolute;
	    right: -12px;
	    top: 0;
	}

	main header section nav ul li:last-child:after {
	    display: none;
	}

	section#search {
	    line-height: 2em;
	    margin-top: 17px;
	}

	#search input[type="text"] {
	    padding: 9px 25px 9px 12px;
	    border-radius: 20px;
	    outline: 0;
	    float: right;
	    border: 1px solid grey;
	    margin-right: 50px;
	    opacity: 0.7;
	}

	@media screen and (max-width: 1200px) {
	    main header section nav ul li a {
	        font-size: 18px;
	    }

	    main header section nav ul li {
	        margin-right: 5px;
	        margin-left: 5px;
	    }

	    main header section nav ul li:after {
	        width: .5px;
	        right: -7px;
	    }
	}

	@media screen and (max-width: 800px) {
	    main header section nav ul li:nth-child(3) a {
	        display: none;
	    }

	    main header section nav ul li:nth-child(3):after {
	        content: '';
	        display: none;
	    }

	    main header section nav ul li:nth-child(5):after {
	        content: '';
	        display: none;
	    }

	    main header section nav ul li:after {
	        width: 1px;
	        right: -7px;
	    }

	    main header section nav ul li:nth-child(5) a {
	        display: none;
	    }
	    main header section nav ul li a {
	        font-size: 14px;
	    }

	    #search input[type="text"] {
	        padding: 7px 2px 7px 7px;
	    }

	    header #search {
	        width: 30%;
	        float: right;
	    }

	    header #navbar {
	        width: 70%;
	    }
	}

	@media screen and (max-width: 580px) {
	    header #navbar {
	        width: 100%;
	    }

	    main header section nav ul li {
	        display: block;
	    }

	    header #search {
	        width: 100%;
	    }

	    #search input[type="text"] {
	        padding: 7px 52px 7px 23px;
	        margin: 0 auto;
	        float: left;
	        margin-bottom: 40px;
	        margin-left: 30px;
	    }

	}