<!-- customer detail in Table format start -->
<article class="customer p-t-6 m-t-6">
	<section class="customer__details">
		<div class="order-list-button">
			<a class="order-status-active"><span>All Orders</span></a>
			<a class="order-status"><span>Paid</span></a>
			<a class="order-status"><span>Unpaid</span></a>
			<a class="order-status"><span>Fullfilled</span></a>
			<a class="order-status"><span>Unfullfilled</span></a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Order</th>
					<th>Date</th>
					<th>Customer</th>
					<th>Payment Status</th>
					<th>Fullfillment Status</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of orders">
					<td>{{order.orderId }}</td>
					<td>{{order.orderDate }}</td>
					<td>{{order.customerId }}</td>
					<td><span class="label-paid">{{order.payStatus | titlecase}}</span></td>
					<td><span class="label-unfullfilled">{{order.fulfillStatus | titlecase}}</span></td>
				</tr>
			</tbody>
		</table>
	</section>
</article>

<!-- customer detail in Table format end -->