<!-- Login Page Panel Start -->
<article class="p-t-6 m-t-6">
	<section class="login-container">
		  <h1><span>L</span>ogin<span>p</span>age</h1>
			  <div class="login-panel">
				  <form action="#" method="post">
					  <div class="login-form-group">
						  <label>Your Name</label>
						  <div class="login-form-field">
							  <input placeholder="Your Name" name="Name" type="text" required="">
						  </div>
					  </div>
				  
					  <div class="login-form-group">
						  <label>Password</label>
						  <div class="login-form-field">
							  <input placeholder="Password" name="Password" type="password" id="password1" required="">
						  </div>
					  </div>
	  
					  <input type="submit" value="Login">
				  </form>
			  </div>
		  </section>  
  </article> 
  
  <!-- Login Page Panelend -->