@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/*container css start*/
.container {
	max-width: 1000px;
	margin: 0px auto;
	width: 100%;
	position: relative;
}
/*container css end*/
/*header css start */
header {
	padding-top: 20px;
	padding-bottom: 10px;
}
/*header css end*/

/*validate seno form css start*/
.form-row:nth-last-child(1) {
	text-align: center;
	display: block;
}
/*validate seno form css end*/

/*table section data css start here*/
.section {
	box-shadow: inset 0px 0px 13px 14px #8db8e2;
	padding: 20px;
	border: 4px solid #34688200;
	width: 90%;
	margin: 40px auto;
}

.table-heading {
	color: #90b9e2;
	margin: 5px 15px;
}

.table-heading h3 {
	font-weight: 500;
	line-height: 1em;
	margin: 0;
}

.table {
	width: 100%;
	text-transform: uppercase;
	margin:0 auto;
}

.table thead {
	background: #90b9e2;
	color: #fff;
	text-align: left;
}

.table th {
	line-height: 1em;
	padding: 10px 15px;
}

.table tr td:first-child {
	text-align: center;
}

.table tr td {
	padding: 3px 10px;
    color: #333;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

.table tbody tr:nth-child(odd) {
	background: #e0e0e0;
}
/* section table css end */

/*generate seno css start*/
.generate-seno {
	margin: 40px auto;
    box-shadow: inset 0px 0px 11px 6px #8db8e2;
    padding: 10px 20px;
}
/*generate seno css end*/

