body{
	width: 1000px;
	margin: auto;;
}
.login-box{
	width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.login-box .wrapper{
	padding: 50px 30px;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}
.text-color{
	color:#2340deb3;
}
.text-center{
	text-align: center;
}

.font-18{
	font-size: 18px
}

.text-shadow{
    text-shadow: 2px 2px #b6bac1;

}
.shadow {
   -moz-box-shadow:    inset 0 0 40px #3447b0;
   -webkit-box-shadow: inset 0 0 40px #3447b0;
   box-shadow:        inset 0 0 40px #3447b0;
}
