@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.pull-left{
    float:left;
}

.pull-right{
    float:right;
}

.container {
    width:90%;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Roboto', sans-serif;
}

footer {
    background: #f7f7f7;
    float: left;
    width: 100%;
    margin-top:1em;

    p {
        font-size:0.9em;  
    }
}