<header class="order-header">
	<h2 class="order-title">Orders</h2>
	<nav class="meun" role="navigation">
		<ul class="menu-list">
			<li class="menu-item active" (click)='allList()'>
				<a>All</a>
			</li>
			<li class="menu-item" (click)='paidList()'>
				<a>Paid</a>
			</li>
			<li class="menu-item" (click)='unpaidList()'>
				<a>Unpaid</a>
			</li>
			<li class="menu-item" (click)='pendingList()'>
				<a>Pending</a>
			</li>
			<li class="menu-item" (click)='fulfillList()'>
				<a>Fulfill</a>
			</li>
			<li class="menu-item" (click)='unfulfillList()'>
				<a>Unfulfill</a>
			</li>
		</ul>
	</nav>
</header>
<section>
	<table class="order-list">
		<thead>
			<tr class="list-heading">
				<th>Orders</th>
				<th>Date</th>
				<th>Customer Id</th>
				<th>Payment Status</th>
				<th>Fulfillment Status</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody class="table-body">
			<tr class="list-item" *ngFor="let order of orders; let i =index;">
				<td class="item">{{order.orderId}}</td>
				<td class="item">{{order.orderDate}}</td>
				<td class="item">{{order.customerId}}</td>
				<td class="item"><span class="btn {{order.payStatus}}">{{order.payStatus | uppercase}}</span></td>
				<td class="item">
					<span *ngIf="order.fulfillStatus; else elseBlock" class="btn fulfill">Fulfilled</span>
					<ng-template #elseBlock>
						<span class="btn unfulfill">Unfulfilled</span>
					</ng-template>
				</td>
				<td class="item">&#8377;
					<!-- {{totalprice}} -->
					{{order.products[0].orderPrice}}
				</td>
			</tr>
		</tbody>
	</table>
</section>