.order-container{
	width: 80%;
	margin: 2em auto;
}
.nav-order{
		margin-top: 3em;
}
.order-menu-list li{
	display: inline-block;
    background: #686363;
    padding: 1em 2em;
}
.order-menu-list a{
	color: #fff;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
}
.active-order-menu-item{
	background-color: #004FF8 !important;
}
.order-listing{
	width: 75%;
	margin:3em auto;
	border-collapse: collapse; 
}
.listing-heading{
	border-bottom: 0.18em solid #CECECE;
    line-height: 2.5em;
    text-align: left; 
    font-size: 1.2em;
}
.listing-data{
	line-height: 3.5em;
}
.order-listing tr:nth-of-type(even) { 
	background: #c7ccec;	
}
.listing-data td{
	color: #5b6162;
    font-size: 1.2em;
    font-weight: 600;
}
.cta{
	padding: 0.6em 1.3em;
    border-radius: 3px;
    color: #fff;
}
.paid{
	background-color: #0E9347;
}
.unpaid{
	background-color: #8C0603;
}
.pending{
	background-color: #F8B500;
}
.fulfill{
	background-color: #554A46;
}
.unfulfill{
	background-color: #5D0B06;
}
