.menu {
    position: relative;
    background-color: black;
    border-radius: 13px;
    box-shadow: 0px 4px 10px black;
    float: left;
    width: 100%;
}
nav {
    width: 70%;
    float: left;
}
ul {
    color: white;
    padding-left: 1em;
}
li {
    list-style: none;
    display: inline;
    padding: 1em 0px;
}
.search-left {
    float: right;
}
li a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    margin-left: 1em;
}
li:hover {
    background-color: #464646;
}
.search-left input {
    float: right;
    margin: .7em;
    border-radius: 2em;
    line-height: 1.7em;
    width: 15em;
    padding: 0.2em 0.7em;
    text-align: center;
    cursor: help;
    border-style: groove;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
}
.Friends::after, .Movies::after, .Cars::after, .Songs::after, .Fun::after, .Hobbies::after {
    content: "|";
    color: white;
}
@media screen and (max-width:800px) {
    nav {
        width: 65%;
        float: left;
    }
    li a {
        margin-right: 1em;
        margin-left: 1em;
    }
    .Cars,
    .Fun {
        display: none;
    }
}
@media screen and (max-width:710px) and (min-width:501px)  {
    nav {
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    body {
        margin: 0em;
    }
    .menu{
        border-radius: initial;
        top: 4em;
    }
    .menu li:nth-last-child(1) {
        border-bottom:none;
    }
    nav {
        width: 100%;
        border-radius: 0em;
    }
    nav ul {
        margin: 0.5em 0em;
    }
    li a {
        margin-right: 2px;
        margin-left: 2px;
    }
    li {
        display: block;
        padding: 0.8em 1em;
        border-bottom: 1px solid white;
    }
    .search-left input {
        width: 8em;
    }  
    .search-left input:hover { 
        width: 15em;
    }   
    .Cars, .Songs, .Fun {
        display: none;
    }
    .Friends::after, .Movies::after, .Cars::after, .Songs::after, .Fun::after, .Hobbies::after {
        content: "";
        color: none;
    }
    .search-left {
        position: absolute;
        top: -3.7em;
        right: 0px;
    }
}