
.customer-graph{
    border: 1px solid #bababa;
    box-shadow: -5px 5px 4px 0px #bababa;
    border-radius: 2em;
    height: 270px;
    width: 25em;
    margin: 0em 2em 0em 4em;
}

.customer-graph-flow{
    height: 84%;
    border-bottom: 1px solid #9b9696;
}
.customer-graph-flow-loyal{
    height: 100%;
    display: flex;  
    position: relative;
}

.row{
    background: #fff;
    box-shadow: 0px 0px 14px 13px #fff;
    width: 98%;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
}
.flow1{
    height: 81%;
    width: 6em;
    background-color: #6395dc;
    margin: 39px 0px 0px 60px;
    position: relative;
    border-right: 0px;
    border-top: 4px solid #ffffff;
    border-bottom: 0px;
    border-left: 4px solid #e4e4e4;
    border-style: inset;
}
.customer-graph-flow-loyal span{
    margin: 2px 22px;
    font-size: small;
    color: #383838;
}
.flow1 span:first-child{
    top: -23px;
    position: absolute;
}

.flow1 span:last-child{
    top: 187px;
    position: absolute;
}
.flow2{
    /* height: 70%; */
    /* width: 6em; */
    /* margin: 50px 0px 0px 60px; */
    /* border-bottom: 18px solid #6395dc; */
    /* position: relative; */
    /* border-right: 0px; */
    /* border-top: 4px solid #ffffff; */
    /* border-left: 4px solid #e4e4e4; */
    /* border-style: inset; */
    height: 7%;
    width: 6em;
    background-color: #6395dc;
    margin: 208px 0px 0px 60px;
    position: relative;
    border-right: 0px;
    border-top: 4px solid #ffffff;
    border-bottom: 0px;
    border-left: 4px solid #e4e4e4;
    border-style: inset;
}

.flow2 span:first-child{
    top: -25px;
    position: absolute;
}

.flow2 span:last-child{
    top: 20px;
    position: absolute;
}

.customer-graph-chart{
    height: 74%;
}


.chart1{
    height: 49%;
    border-bottom: 1px solid #ccc;
    width: 3em;
    background-color: #6395dc;
    margin: -6px 0px 0px 55px;
    position: relative;
    border-radius: 50px/20px;
}
.chart2{
    height: 32%;
    border-bottom: 1px solid #ccc;
    width: 3em;
    background-color: #6395dc;
    margin: 36px 0px 0px 24px;
    position: relative;
    border-radius: 50px/20px;
}
.chart3{
    height: 23%;
    border-bottom: 1px solid #ccc;
    width: 3em;
    background-color: #6395dc;
    margin: 65px 0px 0px 24px;
    position: relative;
    border-radius: 50px/20px;
}

.chart4{
    height: 14%;
    border-bottom: 1px solid #ccc;
    width: 3em;
    background-color: #6395dc;
    margin: 90px 0px 0px 24px;
    position: relative;
    border-radius: 50px/20px;
}

.chart1 span:first-child{
    top: -17px;
    position: absolute;
}
.chart1 span:last-child{
    top: 9em;
    position: absolute;
    text-align: center;
}

.chart2 span:first-child{
    top: -17px;
    position: absolute;
}
.chart2 span:last-child{
    top: 7em;
    text-align: center;
    position: absolute;
}
.chart3 span:first-child{
    top: -17px;
    position: absolute;
}
.chart3 span:last-child{
    top: 6em;
    position: absolute;
    text-align: center;
}
.chart4 span:first-child{
    top: -17px;
    position: absolute;
}
.chart4 span:last-child{
    top: 4em;
    text-align: center;
    position: absolute;
}

.customer-graph-flow-loyal span {
    margin: 1px 16px;
    font-size: small;
    color: #383838;
}


.graph:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 48px;
    top: 0px;
    height: 18px;
    background-color: rgba(75, 75, 75, .3);
    border-radius: 50px/24px;
    z-index: -1;
    box-shadow: -5px 2px 4px 2px rgba(0, 0, 0, .1) inset;
}

.skewed {
    width: 308px;
    float: left;
    border: 1px solid;
    height: 47px;
    transform: skew(135deg) rotateZ(7deg);
    position: absolute;
    right: 55px;
    z-index: 0;
    bottom: 84px;
}
.customer-graph-flow-graph{
    height: 100%;
    display: flex;  
    position: relative;
}
.customer-graph-flow-graph span {
    margin: 1px 0px;
    font-size: small;
    color: #383838;
}
.graph{
    z-index: 1;
    /* text-align: center; */
}

h2{
    text-align: center;
}