@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("popup.css");

*{
    padding:0;
    margin:0;
}
body {
    width: 1000px;
    margin: 2% auto;
    font-family: sans-serif;
    background-color: #fff;
    background-image: url(../images/rightbar.gif);
    background-position: top right;
    background-repeat: repeat-y;
    z-index: 1;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
}