.wrapper .main-footer{
    border: 1px solid  #e4e4e4;
    -webkit-border: 1px solid #e4e4e4;
    -moz-border: 1px solid #e4e4e4;
    -ms-border: 1px solid #e4e4e4;
    margin:2px 0;
    padding: 10px 40px;
    -webkit-box-shadow: inset 25px 0px 25px -20px rgba(63, 87, 135), inset -25px 0px 25px -20px rgba(63, 87, 135);
    -moz-box-shadow: inset 25px 0px 25px -20px rgba(63, 87, 135), inset -25px 0px 25px -20px rgba(63, 87, 135);
    box-shadow: inset 25px 0px 25px -20px rgba(63, 87, 135), inset -25px 0px 25px -20px rgba(63, 87, 135);
}
.main-footer .footer-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
}
.main-footer .footer-nav .footer-item {
    border: 1px solid #666666;
    -webkit-border: 1px solid #666666;
    -moz-border: 1px solid #666666;
    -ms-border: 1px solid #666666;
    border-radius: 50px;
    width: 17%;
    padding: 7px 0px;
    margin: 4px 4px;
    -webkit-box-shadow: inset 35px 8px 30px -16px rgba(63, 87, 135), inset -30px -1px 36px -10px rgba(63, 87, 135);
    -moz-box-shadow: inset 35px 8px 30px -16px rgba(63, 87, 135), inset -30px -1px 36px -10px rgba(63, 87, 135);
    box-shadow: inset 35px 8px 30px -16px rgba(63, 87, 135), inset -30px -1px 36px -10px rgba(63, 87, 135);
}
.main-footer .footer-nav .footer-item:hover{
    cursor: pointer;
}
.main-footer .footer-nav .footer-item .footer-item-link{
    font-size: 0.8em;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}
