$text_center: center;
$text_capitalize:capitalize;
$font_smaller:smaller;
$font_large:large;

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: $text_center;
    display: inline-block;
    font-family: arial;
    margin: 0px 1em;
    width: 30%;
}

.card_title {
  color: grey;
  font-size: $font_large;
  text-align: $text_center;
}

.emp_info{
    background-color: blanchedalmond;
    border-radius: 10px;
    border: 2px solid #f7d29a;
    margin: 10px;
    text-align: initial;
}
.off_adrs .office{
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 2px solid #dedddd;
    padding: 10px;
}
.emp_info div label {
    font-weight: 600;
}
.emp_info div {
    margin: 10px;
}
.emp_info div span {
    text-transform: $text_capitalize;
}
.emp_feature div{
 display: inline;
 widows: 20%;    
}
.emp_feature div{
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 2px solid #dedddd;
    padding: 10px;
}

.chip {
    font-weight: 600;
    display: inline-block;
    padding-right: 18px;
    /*padding: 0 25px;*/
    height: 36px;
    font-size: 16px;
    line-height: 35px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
  
  .chip img {
    float: left;
    /*margin: 0 10px 0 -25px;*/
    margin-right: 9px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

.addrs div label {
    font-weight: 600;
    font-size: $font_smaller;
    text-transform: text_capitalize;
}
.addrs div span {
    font-weight: normal;
    font-size: $font_smaller;
    text-transform: text_capitalize;
}